__pycache__/
captioner_model.pt
api_key.txt
captioner_model.pt
text_housekeep/data/amazon-berkeley
text_housekeep/data/google_object_dataset
text_housekeep/data/replica-cad
text_housekeep/data/objects/ycb
text_housekeep/data/objects/**.json
plots_and_logs/
.vscode
.ipynb_checkpoints/
exp
*.pkl
*.pdf
*.txt
*.egg-info/
exps/
.pylintrc
artifacts
tb
exp_local
nbs
cancel_sweep.py
check_sweep.py
run_*.py
dataset
cache.pkl
lm_cache.pkl
embedding_cache.pkl
temp/
wandb/
